/* UTILITY CLASS */
.fl{
  float: left
}
.fr{
  float: right;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.flex{
  display: flex;
}
/* END UTILITY CLASS */

/* LIST-LINK */
li{
  list-style: none;
}
a{
  text-decoration: none;
}
li a{
  color: #ccc;
}
/* END LIST-LINK */

/* CONTAINER */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
.container{
  height: calc(100% - 90px);
  width: 100vw;
}
/* END CONTAINER */

/* SIDEBAR */
#sidebar{
  height: 100%;
  width: 250px;
  background-color: #000;
  overflow-y: hidden;
}
 /* MY-MUSIC-LIST */
.sidebar-content{
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: #ccc;
}
.menu-my-music{
  flex-direction: column;
  justify-content: space-between;
}
.my-music-list .logo-sidebar{
  padding: 30px 30px;
}
.my-music-list .logo-sidebar img{
  height: 40px;
}
.my-music-list ul li{
  padding: 5px 15px;
}
.my-music-list ul li a span{
  padding-left: 10px;
  font-size: 12px;
  font-weight: bolder;
}
.my-music-list ul li a img{
  height: 30px;
  vertical-align: middle;
}
/* END MY MUSIC LIST */
/* CREATE PLAYLIST */
.create-playlist{
  padding: 30px 15px;
}
.create-playlist li{
  padding-bottom: 15px;
  font-weight: bold;
}
.create-playlist li:first-of-type{
  color: #fff;
  font-size: 22px;
}
.create-playlist li span{
  padding-left: 15px;
}
.create-playlist button{
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-bottom: 10px;
}
 /*  END CREATE PLAYLIST */
 /* SIDEBAR FOOTER */
.sidebar-footer li{
 padding: 10px 15px;
 }
.sidebar-footer li img{
 width: 30px;
 vertical-align: middle;
 margin-right: 15px;
 }
.sidebar-footer li:nth-child(3) img{
 background-color: #ccc;
 border-radius: 50%;
 padding: 5px;
 }
 .sidebar-footer hr{
   width: 200px;
   margin: 0 auto;
 }
/* END SIDEBAR FOOTER */
/* ACTION SIDEBAR*/
.my-music-list ul li:hover{
  border-left: 4px solid #29d078;
}
.my-music-list ul li:hover a{
  color: #fff;
}
.create-playlist li:hover span{
  color: #29d078;
}
.sidebar-footer li:hover span{
 color: #29d078;
 font-weight: bold;
 }
/* END SIDEBAR */

/* HEADER/NAVBAR */
#navbar{
  width: 100%;
  height: 90px;
  background-color: #080B12;
}
.upgrade{
  margin-right: 20px;
}
.upgrade h2{
  color: #ccc;
  font-size: 18px;
  margin: 22px 0;
  padding: 10px 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
/* ACTION HEADER */
.upgrade:hover h2{
  color: #29d078;
  border: 2px solid #29d078;
}
/* END HEADER NAVBAR */

/* MAIN */
#main{
  overflow-y: auto;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
}
/* END MAIN */

/* PLAYER */
#player{
  width: 100vw;
  height: 90px;
  background-color: #282828;
  position: fixed;
  justify-content: space-between;
  align-content: center;
}

.player-content-left{
  display: flex;
}
.sinister-container img{
  height: 60px;
  margin: 15px 10px;
}
.song-player{
  padding-top: 30px;
}
.song-player h3{
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
}
.song-player h4{
  font-size: 12px;
  color: #ccc;
  font-weight: bolder;
}
.heart-folder{
  padding: 40px 40px;
  color: #ccc;
}

.center-player-buttons{
  text-align: center;
  padding-top: 15px;
}
.center-player-buttons i{
  padding: 0px 15px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
.center-player-buttons .fa-play-circle-o{
  font-size: 28px;
}
.center-player span{
  color: #fff;
}
.player-line{
content: "";
height: 5px;
width: 320px;
background-color: #ccc;
display: inline-block;
position: relative;
bottom: 2px;
margin: 0 30px;
border-radius: 10px;
}

.right-player .player-line{
  margin-right: 20px;
  width: 150px;
}
.right-player-buttons i{
  padding: 40px 5px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
/* END PLAYER */
